#payment .payment_methods li.woocommerce-info,
#payment .payment_methods li.woocommerce-notice,
#payment .payment_methods li.woocommerce-notice--info,
.archive article.type-page .more-link:hover,
.archive article.type-post .more-link:hover,
.blog article.type-page .more-link:hover,
.blog article.type-post .more-link:hover,
.breadcrumb a,
.c-body,
.cart-collaterals .cart_totals th,
.column-item .post-inner .posted-on .entry-date,
.elementor-nav-menu--dropdown a,
.elementor-search-form--skin-minimal .elementor-search-form__icon,
.elementor-tabs-h-align-flex-end .elementor-tabs-wrapper .elementor-tab-title,
.elementor-widget-opal-tabs.elementor-widget-tabs .elementor-tab-desktop-title:not(.elementor-active),
.elementor-widget-opal-tabs.elementor-widget-tabs .elementor-tab-desktop-title:not(:hover),
.mainmenu-container li a span,
.mainmenu-container ul ul .menu-item > a,
.opal-currency_switcher .list-currency button[type="submit"],
.opal-custom-menu-inline .widget_nav_menu li ul a,
.opal-style-1.search-form-wapper .search-submit span,
.opal-style-1.search-form-wapper .search-submit span:before,
.search article.type-page .more-link:hover,
.search article.type-post .more-link:hover,
.select-items div,
.select-selected,
.site-footer a,
.site-header-account .account-dashboard li a,
.site-header-account .account-links-menu li a,
.widget a,
.woo-variation-swatches-stylesheet-disabled .variable-items-wrapper .variable-item:not(.radio-variable-item).button-variable-item .variable-item-span-button:after,
.woocommerce-billing-fields .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce-shipping-fields .select2-container--default .select2-selection--single .select2-selection__rendered,
input[type="color"],
input[type="color"]::placeholder,
input[type="date"],
input[type="date"]::placeholder,
input[type="datetime-local"],
input[type="datetime-local"]::placeholder,
input[type="datetime"],
input[type="datetime"]::placeholder,
input[type="email"],
input[type="email"]::placeholder,
input[type="month"],
input[type="month"]::placeholder,
input[type="number"],
input[type="number"]::placeholder,
input[type="password"],
input[type="password"]::placeholder,
input[type="range"],
input[type="range"]::placeholder,
input[type="search"],
input[type="search"]::placeholder,
input[type="tel"],
input[type="tel"]::placeholder,
input[type="text"],
input[type="text"]::placeholder,
input[type="time"],
input[type="time"]::placeholder,
input[type="url"],
input[type="url"]::placeholder,
input[type="week"],
input[type="week"]::placeholder,
table.woocommerce-checkout-review-order-table th,
textarea,
textarea::placeholder {
  color: #666;
}

#osf-accordion-container table.shop_attributes th,
#payment .payment_methods > .wc_payment_method > label,
.author-wrapper .author-name,
.breadcrumb,
.breadcrumb.current-item,
.breadcrumb .current-item,
.breadcrumb span.current-item,
.c-heading,
.cart-collaterals .cart_totals .amount,
.cart-collaterals .cart_totals .order-total .woocommerce-Price-amount,
.cart th,
.column-item .post-inner .entry-title a,
.comments-title,
.elementor-accordion .elementor-tab-title,
.elementor-featured-box-wrapper .elementor-featured-box-title,
.elementor-price-table__currency,
.elementor-price-table__feature-inner span.item-active,
.elementor-price-table__integer-part,
.elementor-price-table__period,
.elementor-progress-percentage,
.elementor-teams-wrapper .elementor-team-name:not(:hover),
.elementor-widget-image-box:not(:hover) .elementor-image-box-title,
.elementor-widget-opal-image-hotspots .elementor-accordion .elementor-tab-title,
.elementor-widget-opal-item-box .elementor-item-box-meta-inner:not(:hover) .elementor-item-box-name,
.elementor-widget-opal-products-tabs .elementor-tab-title,
.elementor-widget-progress .elementor-title,
.filter-close,
.filter-toggle,
.main-navigation .top-menu > li > a,
.main-navigation:not(.navigation-dark) .top-menu > li > a,
.opal-h1,
.opal-h2,
.opal-h3,
.opal-h4,
.opal-h5,
.opal-h6,
.osf-sorting .display-mode button.active,
.osf-sorting .display-mode button:hover,
.page-title-bar .page-title,
.post-navigation .nav-title,
.related-heading,
.search .entry-header a,
.search .site-content .page-title,
.shop_table th,
.single-product div.product .product_meta .posted_in,
.single-product div.product .product_meta .sku_wrapper,
.single-product div.product .product_meta .tagged_as,
.site-header-account .login-form-title,
.site-header-cart .shopping_cart_nav p.total .woocommerce-Price-amount,
.site-header-cart .widget_shopping_cart p.total .woocommerce-Price-amount,
.widget-area strong,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Price-amount,
.woocommerce-account .woocommerce-MyAccount-content strong,
.woocommerce-billing-fields > h3,
.woocommerce-billing-fields label,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info,
.woocommerce-tabs#osf-accordion-container [data-accordion] [data-control],
.woocommerce-Tabs-panel table.shop_attributes th,
.woosw-area .woosw-inner .woosw-content .woosw-content-mid table.woosw-content-items .woosw-content-item .woosw-content-item--add > a,
.woosw-list table.woosw-content-items .woosw-content-item .woosw-content-item--add > a,
a,
blockquote,
fieldset legend,
h1,
h2,
h2.widget-title,
h2.widgettitle,
h3,
h4,
h5,
h6,
label,
table.cart:not(.wishlist_table) .product-name a,
table.cart:not(.wishlist_table) .product-subtotal .woocommerce-Price-amount,
table.cart:not(.wishlist_table) th,
table.shop_table_responsive tbody th,
table.woocommerce-checkout-review-order-table .order-total .woocommerce-Price-amount,
table.woocommerce-checkout-review-order-table .product-name,
th {
  color: #000;
}

.author-wrapper .author-name h6,
.button-outline-secondary,
.c-secondary,
.contactform-content button.mfp-close,
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-wpcf7-button-outline_secondary button[type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="submit"],
.error404 .sub-h2-2,
.mailchimp-button-outline_secondary button,
.mailchimp-button-outline_secondary button[type="submit"] {
  color: #1d1d1d;
}

.f-secondary {
  fill: #1d1d1d;
}

#secondary .elementor-widget-wp-widget-categories a:before,
.bg-secondary,
.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.button-secondary,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-wpcf7-button-outline_secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary button.active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:hover[type="submit"],
.elementor-wpcf7-button-outline_secondary input.active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:hover[type="submit"],
.elementor-wpcf7-button-secondary button[type="submit"],
.elementor-wpcf7-button-secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-secondary input[type="submit"],
.mailchimp-button-outline_secondary .show > button.dropdown-toggle,
.mailchimp-button-outline_secondary button.active,
.mailchimp-button-outline_secondary button:active,
.mailchimp-button-outline_secondary button:hover,
.mailchimp-button-secondary button,
.mailchimp-button-secondary button[type="submit"],
.secondary-button .search-submit,
.show > .button-outline-secondary.dropdown-toggle {
  background-color: #1d1d1d;
}

.b-secondary,
.button-outline-secondary,
.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.button-secondary,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-wpcf7-button-outline_secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary button.active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:hover[type="submit"],
.elementor-wpcf7-button-outline_secondary button[type="submit"],
.elementor-wpcf7-button-outline_secondary input.active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:hover[type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="submit"],
.elementor-wpcf7-button-secondary button[type="submit"],
.elementor-wpcf7-button-secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-secondary input[type="submit"],
.mailchimp-button-outline_secondary .show > button.dropdown-toggle,
.mailchimp-button-outline_secondary button,
.mailchimp-button-outline_secondary button[type="submit"],
.mailchimp-button-secondary button,
.mailchimp-button-secondary button[type="submit"],
.secondary-border .search-form input[type="text"],
.secondary-border .search-form input[type="text"]:focus,
.secondary-button .search-submit,
.show > .button-outline-secondary.dropdown-toggle {
  border-color: #1d1d1d;
}

#reviews .reviews-summary .review-summary-total .review-summary-result,
#secondary .elementor-widget-container h5:first-of-type,
#secondary .elementor-widget-wp-widget-recent-posts a,
#secondary .widget_product_categories ul li.current-cat > a,
#secondary section.widget .current-cat > a,
.archive article.type-page .more-link,
.archive article.type-post .more-link,
.blog article.type-page .more-link,
.blog article.type-post .more-link,
.breadcrumb a:hover,
.breadcrumb a:hover span,
.btn-link,
.button-link,
.button-outline-primary,
.button-wrapper #chart-button,
.c-primary,
.column-item .post-inner .entry-title a:hover,
.column-item.post-style-5 .post-inner .entry-title a:hover,
.comment-form a:hover,
.contactform-content .form-title,
.elementor-button-default .elementor-button,
.elementor-counter .elementor-counter-number,
.elementor-counter .elementor-counter-number-prefix,
.elementor-counter .elementor-counter-number-suffix,
.elementor-counter .elementor-icon-counter,
.elementor-element .elementor-button-link .elementor-button,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-featured-box-wrapper i,
.elementor-nav-menu--dropdown:not(.mega-menu) .has-submenu,
.elementor-nav-menu--dropdown:not(.mega-menu) a.highlighted,
.elementor-nav-menu--dropdown:not(.mega-menu) a:hover,
.elementor-nav-menu--main .current-menu-ancestor .elementor-item.has-submenu,
.elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-nav-menu--main .elementor-item.highlighted,
.elementor-nav-menu--main .elementor-item:focus,
.elementor-nav-menu--main .elementor-item:hover,
.elementor-nav-menu--main.elementor-nav-menu--layout-horizontal .elementor-nav-menu a.elementor-sub-item.elementor-item-active,
.elementor-nav-menu--popup .elementor-item.elementor-item-active,
.elementor-nav-menu--popup .elementor-item.highlighted,
.elementor-nav-menu--popup .elementor-item:focus,
.elementor-nav-menu--popup .elementor-item:hover,
.elementor-nav-menu--popup .elementor-nav-menu--dropdown a.highlighted,
.elementor-nav-menu--popup .elementor-nav-menu--dropdown a:hover,
.elementor-portfolio-style-overlay .portfolio .portfolio-content .entry-category a:hover,
.elementor-portfolio-style-overlay .portfolio .portfolio-content .entry-title a:hover,
.elementor-portfolio__filter:hover,
.elementor-search-form--skin-full_screen .elementor-search-form__toggle:hover,
.elementor-search-form .elementor-search-form__submit:hover,
.elementor-tabs-h-align-flex-end .elementor-tabs-wrapper .elementor-tab-title.elementor-active,
.elementor-tabs-h-align-flex-end .elementor-tabs-wrapper .elementor-tab-title:hover,
.elementor-teams-wrapper .elementor-team-job,
.elementor-teams-wrapper .elementor-team-name:hover,
.elementor-teams-wrapper .team-icon-socials a:hover,
.elementor-video-popup:not(:hover) .elementor-video-icons,
.elementor-video-popup:not(:hover) .elementor-video-title,
.elementor-widget-heading .sub-title,
.elementor-widget-icon-box.elementor-view-default:hover .elementor-icon,
.elementor-widget-icon-box.elementor-view-default:not(:hover) .elementor-icon,
.elementor-widget-icon-box.elementor-view-framed:hover .elementor-icon,
.elementor-widget-icon-box.elementor-view-framed:not(:hover) .elementor-icon,
.elementor-widget-icon-box:hover .elementor-icon-box-title,
.elementor-widget-icon.elementor-view-default .elementor-icon,
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-image-box:hover .elementor-image-box-title,
.elementor-widget-opal-countdown .elementor-countdown-digits,
.elementor-widget-opal-image-hotspots .elementor-accordion .elementor-tab-title.elementor-active,
.elementor-widget-opal-item-box .elementor-item-box-meta-inner:hover .elementor-item-box-name,
.elementor-widget-opal-item-box .elementor-item-box-meta-inner:hover i,
.elementor-widget-opal-item-box .elementor-item-box-meta-inner:not(:hover) i,
.elementor-widget-opal-phone:hover .elementor-phone-subtitle,
.elementor-widget-opal-phone:hover .elementor-phone-title,
.elementor-widget-opal-phone:hover i,
.elementor-widget-opal-phone:not(:hover) .elementor-phone-subtitle,
.elementor-widget-opal-phone:not(:hover) .elementor-phone-title,
.elementor-widget-opal-phone:not(:hover) i,
.elementor-widget-opal-product-categories .product-cats:hover,
.elementor-widget-opal-products-tabs .elementor-tab-title.elementor-active,
.elementor-widget-opal-products-tabs .elementor-tab-title:hover,
.elementor-widget-opal-tabs.elementor-widget-tabs .elementor-tab-desktop-title.elementor-active,
.elementor-widget-opal-tabs.elementor-widget-tabs .elementor-tab-desktop-title:hover,
.elementor-widget-opal-testimonials-2 .elementor-testimonial-title,
.elementor-widget-opal-testimonials-2 .testimonials-decor,
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-item:hover .elementor-icon-list-text,
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-item:hover i,
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-item:not(:hover) .elementor-icon-list-text,
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-item:not(:hover) i,
.elementor-wpcf7-button-outline_primary button[type="submit"],
.elementor-wpcf7-button-outline_primary input[type="button"],
.elementor-wpcf7-button-outline_primary input[type="submit"],
.entry-meta a:hover,
.entry-title a:hover,
.error404 .error-404-bkg,
.error404 .sub-h2-1,
.header-button:hover .amount,
.header-button:hover .count-text,
.header-button:hover .text-wishlist,
.header-button:hover .title,
.header-button:hover i,
.link-comment,
.mailchimp-button-outline_primary button,
.mailchimp-button-outline_primary button[type="submit"],
.main-navigation .top-menu > li:active > a,
.main-navigation .top-menu > li:focus > a,
.main-navigation .top-menu > li:hover > a,
.mainmenu-container .menu-item > a:hover,
.mainmenu-container li.current-menu-parent > a,
.mainmenu-container ul ul .menu-item > a:active,
.mainmenu-container ul ul .menu-item > a:focus,
.mainmenu-container ul ul .menu-item > a:hover,
.menu-toggle,
.more-link,
.navigation-button .menu-toggle:focus,
.navigation-button .menu-toggle:hover,
.opal-comment-4 .comment-content h1,
.opal-comment-4 .comment-content h2,
.opal-comment-4 .comment-content h3,
.opal-comment-4 .comment-content h4,
.opal-comment-4 .comment-content h5,
.opal-comment-4 .comment-content h6,
.opal-currency_switcher .list-currency button[type="submit"]:hover,
.opal-currency_switcher .list-currency li.active button[type="submit"],
.opal-custom-menu-inline .widget ul li a:hover,
.opal-post-navigation-2 .post-navigation .nav-links .nav-next a:hover:before,
.opal-post-navigation-2 .post-navigation .nav-links .nav-previous a:hover:before,
.owl-theme.owl-carousel .owl-nav [class*="owl-"]:hover:before,
.owl-theme .products .owl-nav [class*="owl-"]:hover:before,
.portfolio .entry-category a:hover,
.portfolio .portfolio-content .entry-title a:hover,
.product-style-1 li.product .price,
.product-style-1 li.product .price ins,
.product-style-2 li.product:not(.otf-product-list) .price,
.product-style-2 li.product:not(.otf-product-list) .price ins,
.product-style-3 li.product .price,
.product-style-3 li.product .price ins,
.product_list_widget a:active,
.product_list_widget a:focus,
.product_list_widget a:hover,
.search .entry-header a:hover,
.search article.type-page .more-link,
.search article.type-post .more-link,
.select-items div:hover,
.single-portfolio-navigation .nav-link:hover span,
.single-product div.product .summary .price,
.site-header-account .account-dashboard li a:hover,
.site-header-account .account-dropdown a.lostpass-link,
.site-header-account .account-dropdown a.register-link,
.site-header-account .account-links-menu li a:hover,
.site-header-account > a:hover .submenu-indicator,
.site-header-account > a:hover .text-account,
.site-header-account > a:hover i,
.site-header-cart .shopping_cart_nav .product_list_widget li a:focus,
.site-header-cart .shopping_cart_nav .product_list_widget li a:hover,
.site-header-cart .widget_shopping_cart .product_list_widget li a:focus,
.site-header-cart .widget_shopping_cart .product_list_widget li a:hover,
.site-header-cart .woocommerce-mini-cart__empty-message:before,
.site-header .header-group .search-submit:focus,
.site-header .header-group .search-submit:hover,
.widget_product_brands ul li.chosen a,
.widget_product_brands ul li a:hover,
.widget_product_categories ul li.chosen a,
.widget_product_categories ul li a:hover,
.widget_rating_filter ul li.chosen a,
.widget_rating_filter ul li a:hover,
.widget_search button[type="submit"]:focus,
.widget_search button[type="submit"]:hover,
.widget a:hover,
.woo-variation-swatches-stylesheet-disabled .variable-items-wrapper .variable-item.button-variable-item.selected:not(.radio-variable-item),
.woo-variation-swatches-stylesheet-disabled .variable-items-wrapper .variable-item.button-variable-item:not(.radio-variable-item):hover,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info a,
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info a:hover,
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-privacy-policy-link,
.woocommerce-product-list a:active,
.woocommerce-product-list a:focus,
.woocommerce-product-list a:hover,
.woocommerce-tabs#osf-accordion-container [data-accordion] [data-control]:hover,
.woocommerce-widget-layered-nav ul li.chosen a,
.woocommerce-widget-layered-nav ul li a:hover,
blockquote:before,
body.single-post.opal-single-post-style .navigation .nav-link a:hover,
ul.products li.product.osf-product-list .price,
ul.products li.product .posfed_in a:hover {
  color: #e43636;
}

.f-primary {
  fill: #e43636;
}

#payment .place-order .button:hover,
#secondary .widget_product_categories ul li.current-cat > a:before,
#yith-quick-view-modal ::-webkit-scrollbar-thumb,
#yith-quick-view-modal :window-inactive::-webkit-scrollbar-thumb,
.bg-primary,
.button-dark:active,
.button-dark:focus,
.button-dark:hover,
.button-default:hover,
.button-light:active,
.button-light:focus,
.button-light:hover,
.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.button-primary,
.cat-tags-links .tags-links a:hover,
.column-item .post-inner .post-author:before,
.column-item.post-style-5 .post-inner .entry-title:hover:before,
.e--pointer-dot .elementor-item:before,
.e--pointer-underline .elementor-item:after,
.e--pointer-underline .elementor-item:before,
.effect-skew:before,
.elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon,
.elementor-element .elementor-button-dark .elementor-button:active,
.elementor-element .elementor-button-dark .elementor-button:focus,
.elementor-element .elementor-button-dark .elementor-button:hover,
.elementor-element .elementor-button-light .elementor-button:active,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .elementor-button:hover,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-nav-menu--main.e--pointer-dot .elementor-item.elementor-item-active:before,
.elementor-nav-menu--main.e--pointer-dot .elementor-item:hover:before,
.elementor-nav-menu--main.e--pointer-dot .elementor-item:not(:hover):before,
.elementor-nav-menu--main.elementor-nav-menu--layout-horizontal:not(.e--pointer-framed) .elementor-nav-menu > li.current-menu-parent > a:after,
.elementor-nav-menu--main.elementor-nav-menu--layout-horizontal:not(.e--pointer-framed) .elementor-nav-menu > li.current-menu-parent > a:before,
.elementor-nav-menu--main.elementor-nav-menu--layout-vertical-absolute .vertical-heading,
.elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after,
.elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after,
.elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-nav-menu--popup.e--pointer-dot .elementor-item.elementor-item-active:before,
.elementor-nav-menu--popup.e--pointer-dot .elementor-item:hover:before,
.elementor-timeline-carousel .timeline-carosuel-item.timeline-item-activate .timeline-number,
.elementor-timeline-carousel .timeline-carosuel-item .timeline-number,
.elementor-timeline-carousel .timeline-carosuel-item:hover .timeline-number,
.elementor-timeline-view-vertical .timeline-number,
.elementor-widget-divider .elementor-divider-separator:before,
.elementor-widget-heading .elementor-heading-title:after,
.elementor-widget-heading .elementor-heading-title:before,
.elementor-widget-heading .elementor-widget-container:after,
.elementor-widget-heading .elementor-widget-container:before,
.elementor-widget-icon-box.elementor-view-stacked:hover .elementor-icon,
.elementor-widget-icon-box.elementor-view-stacked:not(:hover) .elementor-icon,
.elementor-widget-icon.elementor-view-stacked .elementor-icon,
.elementor-widget-opal-image-gallery .elementor-galerry__filter.elementor-active,
.elementor-widget-opal-image-gallery .gallery-item-overlay,
.elementor-widget-opal-image-hotspots .scrollbar-inner > .scroll-element .scroll-bar,
.elementor-widget-opal-products-tabs .elementor-tab-title:before,
.elementor-widget-opal-testimonials .layout_2 .item-box:hover,
.elementor-widget-text-editor .elementor-text-editor p:after,
.elementor-widget-text-editor .elementor-text-editor p:before,
.elementor-wpcf7-button-outline_primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="button"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary button.active[type="submit"],
.elementor-wpcf7-button-outline_primary button:active[type="submit"],
.elementor-wpcf7-button-outline_primary button:hover[type="submit"],
.elementor-wpcf7-button-outline_primary input.active[type="button"],
.elementor-wpcf7-button-outline_primary input.active[type="submit"],
.elementor-wpcf7-button-outline_primary input:active[type="button"],
.elementor-wpcf7-button-outline_primary input:active[type="submit"],
.elementor-wpcf7-button-outline_primary input:hover[type="button"],
.elementor-wpcf7-button-outline_primary input:hover[type="submit"],
.elementor-wpcf7-button-primary button[type="submit"],
.elementor-wpcf7-button-primary input[type="button"][type="submit"],
.elementor-wpcf7-button-primary input[type="submit"],
.error404 .error-btn-bh a,
.handheld-footer-bar .cart .footer-cart-contents .count,
.header-button .count,
.header-button:not(:hover),
.mailchimp-button-outline_primary .show > button.dropdown-toggle,
.mailchimp-button-outline_primary button.active,
.mailchimp-button-outline_primary button:active,
.mailchimp-button-outline_primary button:hover,
.mailchimp-button-primary button,
.mailchimp-button-primary button[type="submit"],
.mp-level::-webkit-scrollbar-thumb,
.notification-added-to-cart .ns-content,
.opal-comment-form-2 .comment-form input[type="submit"],
.opal-comment-form-3 .comment-form input[type="submit"],
.opal-image-hotspots-main-icons .opal-image-hotspots-icon,
.opal-label-sale-circle li.product .onsale:before,
.owl-theme.owl-carousel .owl-dots .owl-dot.active span,
.owl-theme.owl-carousel .owl-dots .owl-dot:hover span,
.owl-theme .products .owl-dots .owl-dot.active span,
.owl-theme .products .owl-dots .owl-dot:hover span,
.page-links .page-number,
.page-numbers.current:not(ul):not(.dots),
.page-numbers:not(ul):not(.dots):focus,
.page-numbers:not(ul):not(.dots):hover,
.page .edit-link a.post-edit-link,
.product-style-1 li.product .compare,
.product-style-1 li.product .yith-wcqv-button,
.product-style-1 li.product .yith-wcwl-add-to-wishlist > div > a,
.product-style-1 li.product a[class*="product_type_"],
.product-style-2 li.product:not(.otf-product-list) .compare,
.product-style-2 li.product:not(.otf-product-list) .yith-wcqv-button,
.product-style-2 li.product:not(.otf-product-list) .yith-wcwl-add-to-wishlist > div > a,
.product-style-2 li.product:not(.otf-product-list) a.loading[class*="product_type_"],
.product-style-2 li.product:not(.otf-product-list) a[class*="product_type_"]:hover,
.product-style-3 li.product .compare,
.product-style-3 li.product .yith-wcqv-button,
.product-style-3 li.product .yith-wcwl-add-to-wishlist > div > a,
.product-style-3 li.product a.loading[class*="product_type_"],
.product-style-3 li.product a[class*="product_type_"]:hover,
.scrollup,
.shop-action .wooscp-btn,
.shop-action .woosq-btn,
.shop-action .woosw-btn,
.show > .button-outline-primary.dropdown-toggle,
.single-portfolio-summary .pbr-social-share a:hover,
.single-product .single_add_to_cart_button,
.single-product button.disabled.single_add_to_cart_button[type="submit"],
.timeline-item .timeline-number,
.title-heading:after,
.wc-proceed-to-checkout .button,
.widget_price_filter .ui-slider .ui-slider-handle,
.widget_price_filter .ui-slider .ui-slider-range,
.widget_shopping_cart .buttons .button,
.wishlist_table .product-add-to-cart a.button,
.woocommerce-cart .return-to-shop a,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button,
.woocommerce-tabs ul.tabs li a:after,
.woocommerce-widget-layered-nav ul li.chosen a.osf-label-type,
button[type="submit"],
form.register .button[type="submit"]:hover,
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"],
section.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #e43636;
}

#payment .place-order .button:hover,
#secondary .widget_product_categories ul li.current-cat > a:before,
.b-primary,
.button-dark:active,
.button-dark:focus,
.button-dark:hover,
.button-default:hover,
.button-light:active,
.button-light:focus,
.button-light:hover,
.button-outline-primary,
.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.button-primary,
.button-secondary,
.e--pointer-framed .elementor-item.elementor-item-active:after,
.e--pointer-framed .elementor-item.elementor-item-active:before,
.e--pointer-framed .elementor-item:after,
.e--pointer-framed .elementor-item:before,
.elementor-element .elementor-button-dark .elementor-button:active,
.elementor-element .elementor-button-dark .elementor-button:focus,
.elementor-element .elementor-button-dark .elementor-button:hover,
.elementor-element .elementor-button-light .elementor-button:active,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .elementor-button:hover,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-nav-menu--main .elementor-nav-menu ul,
.elementor-nav-menu--main > .elementor-nav-menu,
.elementor-search-form--skin-full_screen .elementor-search-form__toggle:hover,
.elementor-search-form__container:not(.elementor-search-form--full-screen),
.elementor-teams-wrapper .team-icon-socials a:hover,
.elementor-timeline-carousel .timeline-carosuel-item.timeline-item-activate .timeline-number,
.elementor-timeline-carousel .timeline-carosuel-item:hover .timeline-number,
.elementor-video-popup:not(:hover) .elementor-video-icons,
.elementor-video-popup:not(:hover) .elementor-video-title,
.elementor-widget-icon-box.elementor-view-framed:hover .elementor-icon,
.elementor-widget-icon-box.elementor-view-framed:not(:hover) .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon,
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-opal-image-gallery .elementor-galerry__filter.elementor-active:before,
.elementor-widget-opal-product-deals .woocommerce-product-list li .inner,
.elementor-widget-opal-products.elementor-product-list-border-style.elementor-product-list-style-2 .woocommerce-product-list li .inner,
.elementor-widget-opal-tabs.elementor-widget-tabs .elementor-tab-desktop-title.elementor-active,
.elementor-widget-opal-tabs.elementor-widget-tabs .elementor-tab-desktop-title:hover,
.elementor-widget-opal-testimonials .layout_7 .elementor-testimonial-dot-image.active img,
.elementor-widget-opal-testimonials .layout_7 .elementor-testimonial-image img:hover,
.elementor-wpcf7-button-outline_primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="button"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary button.active[type="submit"],
.elementor-wpcf7-button-outline_primary button:active[type="submit"],
.elementor-wpcf7-button-outline_primary button:hover[type="submit"],
.elementor-wpcf7-button-outline_primary button[type="submit"],
.elementor-wpcf7-button-outline_primary input.active[type="button"],
.elementor-wpcf7-button-outline_primary input.active[type="submit"],
.elementor-wpcf7-button-outline_primary input:active[type="button"],
.elementor-wpcf7-button-outline_primary input:active[type="submit"],
.elementor-wpcf7-button-outline_primary input:hover[type="button"],
.elementor-wpcf7-button-outline_primary input:hover[type="submit"],
.elementor-wpcf7-button-outline_primary input[type="button"],
.elementor-wpcf7-button-outline_primary input[type="submit"],
.elementor-wpcf7-button-primary button[type="submit"],
.elementor-wpcf7-button-primary input[type="button"][type="submit"],
.elementor-wpcf7-button-primary input[type="submit"],
.elementor-wpcf7-button-secondary button[type="submit"],
.elementor-wpcf7-button-secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-secondary input[type="submit"],
.form-control:focus,
.mailchimp-button-outline_primary .show > button.dropdown-toggle,
.mailchimp-button-outline_primary button,
.mailchimp-button-outline_primary button.active,
.mailchimp-button-outline_primary button:active,
.mailchimp-button-outline_primary button:hover,
.mailchimp-button-outline_primary button[type="submit"],
.mailchimp-button-primary button,
.mailchimp-button-primary button[type="submit"],
.mailchimp-button-secondary button,
.mailchimp-button-secondary button[type="submit"],
.mega-menu-item,
.opal-comment-form-2 .comment-form input[type="submit"],
.opal-comment-form-3 .comment-form input[type="submit"],
.osf-product-deal .woocommerce-product-list .opal-countdown .day,
.otf-product-recently-content li:hover .product-thumbnail img,
.page .edit-link a.post-edit-link,
.product-style-3 li.product a[class*="product_type_"],
.scrollup,
.secondary-button .search-submit,
.show > .button-outline-primary.dropdown-toggle,
.single-product .single_add_to_cart_button,
.single-product button.disabled.single_add_to_cart_button[type="submit"],
.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img,
.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active,
.wc-proceed-to-checkout .button,
.widget_shopping_cart .buttons .button,
.wishlist_table .product-add-to-cart a.button,
.woocommerce-cart .return-to-shop a,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button,
.woocommerce-widget-layered-nav ul li.chosen a.osf-label-type,
button[type="submit"],
form.register .button[type="submit"]:hover,
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="range"]:focus,
input[type="reset"],
input[type="search"]:focus,
input[type="submit"],
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
ul.elementor-price-table__features-list {
  border-color: #e43636;
}

.main-navigation .top-menu > li ul {
  border-top-color: #e43636;
}

.elementor-nav-menu--layout-horizontal .elementor-nav-menu li.has-mega-menu:before,
.elementor-nav-menu--layout-horizontal .elementor-nav-menu li.menu-item-has-children:before,
.main-navigation .top-menu > li.menu-item-has-children:before,
.main-navigation .top-menu > li:active:before,
.main-navigation .top-menu > li:focus:before,
.main-navigation .top-menu > li:hover:before {
  border-bottom-color: #e43636;
}

.cat-tags-links .tags-links a:hover:before {
  border-right-color: #e43636;
}

.btn-link:focus,
.btn-link:hover,
.button-link:focus,
.button-link:hover,
.elementor-element .elementor-button-link .elementor-button:focus,
.elementor-element .elementor-button-link .elementor-button:hover,
.elementor-video-popup:hover .elementor-video-icons,
.elementor-video-popup:hover .elementor-video-title,
.more-link:focus,
.more-link:hover,
a:active,
a:hover {
  color: #b51818;
}

.active.scrollup,
.button-primary.active,
.button-primary:active,
.button-primary:hover,
.elementor-element .elementor-button-primary .elementor-button:active,
.elementor-element .elementor-button-primary .elementor-button:focus,
.elementor-element .elementor-button-primary .elementor-button:hover,
.elementor-wpcf7-button-primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary button.active[type="submit"],
.elementor-wpcf7-button-primary button:active[type="submit"],
.elementor-wpcf7-button-primary button:hover[type="submit"],
.elementor-wpcf7-button-primary input.active[type="submit"],
.elementor-wpcf7-button-primary input:active[type="submit"],
.elementor-wpcf7-button-primary input:hover[type="submit"],
.header-button:hover,
.mailchimp-button-primary .show > button.dropdown-toggle,
.mailchimp-button-primary button.active,
.mailchimp-button-primary button:active,
.mailchimp-button-primary button:hover,
.page .edit-link .show > a.dropdown-toggle.post-edit-link,
.page .edit-link a.active.post-edit-link,
.page .edit-link a.post-edit-link:active,
.page .edit-link a.post-edit-link:hover,
.product-style-1 li.product .compare:hover,
.product-style-1 li.product .yith-wcqv-button:hover,
.product-style-1 li.product .yith-wcwl-add-to-wishlist > div > a:hover,
.product-style-2 li.product:not(.otf-product-list) .compare:hover,
.product-style-2 li.product:not(.otf-product-list) .yith-wcqv-button:hover,
.product-style-2 li.product:not(.otf-product-list) .yith-wcwl-add-to-wishlist > div > a:hover,
.product-style-3 li.product .compare:hover,
.product-style-3 li.product .yith-wcqv-button:hover,
.product-style-3 li.product .yith-wcwl-add-to-wishlist > div > a:hover,
.scrollup:active,
.scrollup:hover,
.shop-action .wooscp-btn:hover,
.shop-action .woosq-btn:hover,
.shop-action .woosw-btn:hover,
.show > .button-primary.dropdown-toggle,
.show > .dropdown-toggle.scrollup,
.show > button.dropdown-toggle[type="submit"],
.show > input.dropdown-toggle[type="button"],
.show > input.dropdown-toggle[type="reset"],
.show > input.dropdown-toggle[type="submit"],
.single-product .single_add_to_cart_button:hover,
.single-product button.disabled.single_add_to_cart_button[type="submit"]:hover,
.wc-proceed-to-checkout .active.button,
.wc-proceed-to-checkout .button:active,
.wc-proceed-to-checkout .button:hover,
.wc-proceed-to-checkout .show > .dropdown-toggle.button,
.widget_shopping_cart .buttons .active.button,
.widget_shopping_cart .buttons .button:active,
.widget_shopping_cart .buttons .button:hover,
.widget_shopping_cart .buttons .show > .dropdown-toggle.button,
.wishlist_table .product-add-to-cart .show > a.dropdown-toggle.button,
.wishlist_table .product-add-to-cart a.active.button,
.wishlist_table .product-add-to-cart a.button:active,
.wishlist_table .product-add-to-cart a.button:hover,
.woocommerce-cart .return-to-shop .show > a.dropdown-toggle,
.woocommerce-cart .return-to-shop a.active,
.woocommerce-cart .return-to-shop a:active,
.woocommerce-cart .return-to-shop a:hover,
.woocommerce-MyAccount-content .woocommerce-Pagination .active.woocommerce-button,
.woocommerce-MyAccount-content .woocommerce-Pagination .show > .dropdown-toggle.woocommerce-button,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button:active,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button:hover,
button.active[type="submit"],
button:active[type="submit"],
button:hover[type="submit"],
input.active[type="button"],
input.active[type="reset"],
input.active[type="submit"],
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  background-color: #b51818;
}

.active.scrollup,
.button-primary.active,
.button-primary:active,
.button-primary:hover,
.button-secondary.active,
.button-secondary:active,
.elementor-element .elementor-button-primary .elementor-button:active,
.elementor-element .elementor-button-primary .elementor-button:focus,
.elementor-element .elementor-button-primary .elementor-button:hover,
.elementor-video-popup:hover .elementor-video-icons,
.elementor-video-popup:hover .elementor-video-title,
.elementor-wpcf7-button-primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary button.active[type="submit"],
.elementor-wpcf7-button-primary button:active[type="submit"],
.elementor-wpcf7-button-primary button:hover[type="submit"],
.elementor-wpcf7-button-primary input.active[type="submit"],
.elementor-wpcf7-button-primary input:active[type="submit"],
.elementor-wpcf7-button-primary input:hover[type="submit"],
.elementor-wpcf7-button-secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-secondary button.active[type="submit"],
.elementor-wpcf7-button-secondary button:active[type="submit"],
.elementor-wpcf7-button-secondary input.active[type="submit"],
.elementor-wpcf7-button-secondary input:active[type="submit"],
.mailchimp-button-primary .show > button.dropdown-toggle,
.mailchimp-button-primary button.active,
.mailchimp-button-primary button:active,
.mailchimp-button-primary button:hover,
.mailchimp-button-secondary .show > button.dropdown-toggle,
.mailchimp-button-secondary button.active,
.mailchimp-button-secondary button:active,
.page .edit-link .show > a.dropdown-toggle.post-edit-link,
.page .edit-link a.active.post-edit-link,
.page .edit-link a.post-edit-link:active,
.page .edit-link a.post-edit-link:hover,
.scrollup:active,
.scrollup:hover,
.secondary-button .active.search-submit,
.secondary-button .search-submit:active,
.secondary-button .show > .dropdown-toggle.search-submit,
.show > .button-primary.dropdown-toggle,
.show > .button-secondary.dropdown-toggle,
.show > .dropdown-toggle.scrollup,
.show > button.dropdown-toggle[type="submit"],
.show > input.dropdown-toggle[type="button"],
.show > input.dropdown-toggle[type="reset"],
.show > input.dropdown-toggle[type="submit"],
.single-product .single_add_to_cart_button:hover,
.single-product button.disabled.single_add_to_cart_button[type="submit"]:hover,
.wc-proceed-to-checkout .active.button,
.wc-proceed-to-checkout .button:active,
.wc-proceed-to-checkout .button:hover,
.wc-proceed-to-checkout .show > .dropdown-toggle.button,
.widget_shopping_cart .buttons .active.button,
.widget_shopping_cart .buttons .button:active,
.widget_shopping_cart .buttons .button:hover,
.widget_shopping_cart .buttons .show > .dropdown-toggle.button,
.wishlist_table .product-add-to-cart .show > a.dropdown-toggle.button,
.wishlist_table .product-add-to-cart a.active.button,
.wishlist_table .product-add-to-cart a.button:active,
.wishlist_table .product-add-to-cart a.button:hover,
.woocommerce-cart .return-to-shop .show > a.dropdown-toggle,
.woocommerce-cart .return-to-shop a.active,
.woocommerce-cart .return-to-shop a:active,
.woocommerce-cart .return-to-shop a:hover,
.woocommerce-MyAccount-content .woocommerce-Pagination .active.woocommerce-button,
.woocommerce-MyAccount-content .woocommerce-Pagination .show > .dropdown-toggle.woocommerce-button,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button:active,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button:hover,
button.active[type="submit"],
button:active[type="submit"],
button:hover[type="submit"],
input.active[type="button"],
input.active[type="reset"],
input.active[type="submit"],
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  border-color: #b51818;
}

.button-dark:active,
.button-dark:focus,
.button-dark:hover,
.button-default:hover,
.button-light:active,
.button-light:focus,
.button-light:hover,
.button-primary,
.elementor-element .elementor-button-dark .elementor-button:active,
.elementor-element .elementor-button-dark .elementor-button:focus,
.elementor-element .elementor-button-dark .elementor-button:hover,
.elementor-element .elementor-button-light .elementor-button:active,
.elementor-element .elementor-button-light .elementor-button:focus,
.elementor-element .elementor-button-light .elementor-button:hover,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-wpcf7-button-primary button[type="submit"],
.elementor-wpcf7-button-primary input[type="button"][type="submit"],
.elementor-wpcf7-button-primary input[type="submit"],
.mailchimp-button-primary button,
.mailchimp-button-primary button[type="submit"],
.page .edit-link a.post-edit-link,
.scrollup,
.wc-proceed-to-checkout .button,
.widget_shopping_cart .buttons .button,
.wishlist_table .product-add-to-cart a.button,
.woocommerce-cart .return-to-shop a,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button,
button[type="submit"],
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #e43636;
  border-color: #e43636;
}

.active.scrollup,
.button-primary.active,
.button-primary:active,
.button-primary:hover,
.elementor-element .elementor-button-primary .elementor-button:active,
.elementor-element .elementor-button-primary .elementor-button:focus,
.elementor-element .elementor-button-primary .elementor-button:hover,
.elementor-wpcf7-button-primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-primary button.active[type="submit"],
.elementor-wpcf7-button-primary button:active[type="submit"],
.elementor-wpcf7-button-primary button:hover[type="submit"],
.elementor-wpcf7-button-primary input.active[type="submit"],
.elementor-wpcf7-button-primary input:active[type="submit"],
.elementor-wpcf7-button-primary input:hover[type="submit"],
.mailchimp-button-primary .show > button.dropdown-toggle,
.mailchimp-button-primary button.active,
.mailchimp-button-primary button:active,
.mailchimp-button-primary button:hover,
.page .edit-link .show > a.dropdown-toggle.post-edit-link,
.page .edit-link a.active.post-edit-link,
.page .edit-link a.post-edit-link:active,
.page .edit-link a.post-edit-link:hover,
.scrollup:active,
.scrollup:hover,
.show > .button-primary.dropdown-toggle,
.show > .dropdown-toggle.scrollup,
.show > button.dropdown-toggle[type="submit"],
.show > input.dropdown-toggle[type="button"],
.show > input.dropdown-toggle[type="reset"],
.show > input.dropdown-toggle[type="submit"],
.wc-proceed-to-checkout .active.button,
.wc-proceed-to-checkout .button:active,
.wc-proceed-to-checkout .button:hover,
.wc-proceed-to-checkout .show > .dropdown-toggle.button,
.widget_shopping_cart .buttons .active.button,
.widget_shopping_cart .buttons .button:active,
.widget_shopping_cart .buttons .button:hover,
.widget_shopping_cart .buttons .show > .dropdown-toggle.button,
.wishlist_table .product-add-to-cart .show > a.dropdown-toggle.button,
.wishlist_table .product-add-to-cart a.active.button,
.wishlist_table .product-add-to-cart a.button:active,
.wishlist_table .product-add-to-cart a.button:hover,
.woocommerce-cart .return-to-shop .show > a.dropdown-toggle,
.woocommerce-cart .return-to-shop a.active,
.woocommerce-cart .return-to-shop a:active,
.woocommerce-cart .return-to-shop a:hover,
.woocommerce-MyAccount-content .woocommerce-Pagination .active.woocommerce-button,
.woocommerce-MyAccount-content .woocommerce-Pagination .show > .dropdown-toggle.woocommerce-button,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button:active,
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-button:hover,
button.active[type="submit"],
button:active[type="submit"],
button:hover[type="submit"],
input.active[type="button"],
input.active[type="reset"],
input.active[type="submit"],
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  background-color: #b51818;
  border-color: #b51818;
}

.button-outline-primary,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-wpcf7-button-outline_primary button[type="submit"],
.elementor-wpcf7-button-outline_primary input[type="button"],
.elementor-wpcf7-button-outline_primary input[type="submit"],
.mailchimp-button-outline_primary button,
.mailchimp-button-outline_primary button[type="submit"] {
  color: #e43636;
  border-color: #e43636;
  background-color: transparent;
}

.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-wpcf7-button-outline_primary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="button"],
.elementor-wpcf7-button-outline_primary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_primary button.active[type="submit"],
.elementor-wpcf7-button-outline_primary button:active[type="submit"],
.elementor-wpcf7-button-outline_primary button:hover[type="submit"],
.elementor-wpcf7-button-outline_primary input.active[type="button"],
.elementor-wpcf7-button-outline_primary input.active[type="submit"],
.elementor-wpcf7-button-outline_primary input:active[type="button"],
.elementor-wpcf7-button-outline_primary input:active[type="submit"],
.elementor-wpcf7-button-outline_primary input:hover[type="button"],
.elementor-wpcf7-button-outline_primary input:hover[type="submit"],
.mailchimp-button-outline_primary .show > button.dropdown-toggle,
.mailchimp-button-outline_primary button.active,
.mailchimp-button-outline_primary button:active,
.mailchimp-button-outline_primary button:hover,
.show > .button-outline-primary.dropdown-toggle {
  background-color: #e43636;
  border-color: #e43636;
  color: #fff;
}

.button-secondary,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-wpcf7-button-secondary button[type="submit"],
.elementor-wpcf7-button-secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-secondary input[type="submit"],
.mailchimp-button-secondary button,
.mailchimp-button-secondary button[type="submit"],
.secondary-button .search-submit {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
}

.button-outline-secondary,
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-wpcf7-button-outline_secondary button[type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="button"][type="submit"],
.elementor-wpcf7-button-outline_secondary input[type="submit"],
.mailchimp-button-outline_secondary button,
.mailchimp-button-outline_secondary button[type="submit"] {
  color: #1d1d1d;
  border-color: #1d1d1d;
  background-color: transparent;
}

.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-wpcf7-button-outline_secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-outline_secondary button.active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:active[type="submit"],
.elementor-wpcf7-button-outline_secondary button:hover[type="submit"],
.elementor-wpcf7-button-outline_secondary input.active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:active[type="submit"],
.elementor-wpcf7-button-outline_secondary input:hover[type="submit"],
.mailchimp-button-outline_secondary .show > button.dropdown-toggle,
.mailchimp-button-outline_secondary button.active,
.mailchimp-button-outline_secondary button:active,
.mailchimp-button-outline_secondary button:hover,
.show > .button-outline-secondary.dropdown-toggle {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
  color: #fff;
}

.button-secondary.active,
.button-secondary:active,
.button-secondary:hover,
.elementor-button-secondary button[type="submit"]:active,
.elementor-button-secondary button[type="submit"]:focus,
.elementor-button-secondary button[type="submit"]:hover,
.elementor-button-secondary input[type="button"]:active,
.elementor-button-secondary input[type="button"]:focus,
.elementor-button-secondary input[type="button"]:hover,
.elementor-button-secondary input[type="submit"]:active,
.elementor-button-secondary input[type="submit"]:focus,
.elementor-button-secondary input[type="submit"]:hover,
.elementor-element .elementor-button-secondary .elementor-button:active,
.elementor-element .elementor-button-secondary .elementor-button:focus,
.elementor-element .elementor-button-secondary .elementor-button:hover,
.elementor-wpcf7-button-secondary .show > button.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-secondary .show > input.dropdown-toggle[type="submit"],
.elementor-wpcf7-button-secondary button.active[type="submit"],
.elementor-wpcf7-button-secondary button:active[type="submit"],
.elementor-wpcf7-button-secondary button:hover[type="submit"],
.elementor-wpcf7-button-secondary input.active[type="submit"],
.elementor-wpcf7-button-secondary input:active[type="submit"],
.elementor-wpcf7-button-secondary input:hover[type="submit"],
.mailchimp-button-secondary .show > button.dropdown-toggle,
.mailchimp-button-secondary button.active,
.mailchimp-button-secondary button:active,
.mailchimp-button-secondary button:hover,
.secondary-button .active.search-submit,
.secondary-button .search-submit:active,
.secondary-button .search-submit:hover,
.secondary-button .show > .dropdown-toggle.search-submit,
.show > .button-secondary.dropdown-toggle {
  background-color: #000;
  border-color: #000;
}
